.my-card .card {
  height: 100%;
}
/* card button part */
.cart-btn {
  width: 100%;
  color: whitesmoke;
  background: #636e72;
  border-radius:5px ;
  font-size: 1.1rem;
  font-weight: bold;
}
/* card hover part */
.cart-btn:hover {
  background: #2C3A47;
  transition: 0.5s;
  color: white;
}
.card-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: #2d3436;
}
.card-text {
  font-size: 1.3rem;
  color: #2d3436;
  font-weight: 600;
}
/* price part  */
.price {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2d3436;
}
.card {
    
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  border: 1px solid #F8EFBA;
}
.card img{
    padding: 12px;
    border-radius: 10px;
}
