.choseOnMe {
  background: #40739e;
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 2px solid #222f3e;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.28);
}
.choseAgain {
  background: #006266;
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  width: 100%;
  border: 2px solid #222f3e;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.28);
  margin-bottom: 20px;
}

.choseOnMe:hover {
  background: #546de5;
  transition: 0.5s;
  color: white;
}
.choseAgain:hover {
  background: #10ac84;
  transition: 0.5s;
  color: white;
}
.right-part {
  position: sticky;
  top: 0;
  margin-top: 15px;
  

}
.right-section{
    font-size: 3rem;
    color: #40739e;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
}
.header-2{
    color: #006266;
}
